<h1>Date Range Validation</h1>

<div id="sampleDemo" class="demo-padding demo-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
              
      <div id="div1">
        <oj-label for="minmax">Min + Max Restriction</oj-label>
        <oj-input-date
          id="minmax"
          value="{{dateValue}}"
          validators="[[validators]]"
          class="oj-form-control-max-width-sm"
          autocomplete="off"></oj-input-date>
      
        <br />
        <br />
      
        
      </div>
      
      
      
    </div>
  </div>