<h1>Validating Text Length</h1>
<div id="sampleDemo" class="demo-padding demo-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
              
      <oj-form-layout id="validator-example">
        <oj-c-input-text
          id="length1"
          value="{{lengthValue1}}"
          validators="[[validators]]"
          autocomplete="off"
          placeholder="between 5-10 characters"
          label-hint="Default options"></oj-c-input-text>
        <oj-c-input-text
          id="length2"
          value="{{lengthValue2}}"
          validators="[[validators2]]"
          autocomplete="off"
          placeholder="between 5-10 characters"
          label-hint="Name"></oj-c-input-text>
        <oj-c-input-text
          id="length3"
          value="{{lengthValue3}}"
          validators="[[validators3]]"
          autocomplete="off"
          placeholder="between 5-10 characters"
          label-hint=" Name "></oj-c-input-text>
        <oj-c-input-text
          id="length4"
          value="{{lengthValue4}}"
          validators="[[validators4]]"
          autocomplete="off"
          placeholder="between 5-10 characters"
          label-hint="Name"></oj-c-input-text>
      </oj-form-layout>
      
      
      
    </div>
  </div>